<h1>Listing notes</h1>

<% @notes.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |note| %>
      <div class="span4">
        <%= image_tag note.picture_url, :width => '100%' if note.picture.present?%>
          <h4><%= link_to note.title, note %></h4>
        <%= note.description %>
      </div>
    <% end %>
  </div>
<% end %>

<br />